body {
    background-color: white;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    color:white;
    text-decoration-line: none;
}

button {
    background-color: purple;
    color: white;
}

.quiz .highscores {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
}

#control {
    padding-top: 40px;
}

.hide {
    display: none;
}

{
    text-transform: capitalize;
}

#highscores-list {
    max-width: 55%;
    margin-left: auto;
}

.hide {
    display: none;
}
.show {
    display: block;
}






/* *, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    background-color: blue;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    background-color: beige;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
} */